html{
text-decoration: none;
}

body {
  margin: 0;
  background-color: black;
width: 100vw;
height: 100vh;


}
a {
text-decoration: none;
}
.float2{
	    position: fixed;
    width: 45px;
    height: 44px;
    bottom: 48px;
    right: 217px;
    background-color: #000000;
    color: #FFF;
    border-radius: 86px;
    text-align: center;
    z-index: 1000;
}

.float4{
	    position: fixed;
    width: 45px;
    height: 44px;
    bottom: 48px;
    right: 217px;
    background-color: #000000;
    color: #FFF;
    border-radius: 86px;
    text-align: center;
    z-index: 1000;
	margin-bottom: 80px;
}


.floatstop{
  opacity}

.float{
	    position: fixed;
    width: 230px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #ffc800;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    z-index: 999;
    opacity: 1;
    animation: float 1s ease-out forwards;
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

.float3{
	position: fixed;
    width: 230px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #ffc800;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    z-index: 999;
    opacity: 1;
    animation: float 1s ease-out forwards;
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
    margin-bottom: 80px;
}

.botoncv{
    position: absolute;
    width: 46%;
    /* height: 60px; */
    /* bottom: 70px; */
    /* right: 40px; */
    /* background-color: #ffc800; */
    color: #FFF;
    border-radius: 50px;
    text-align: left;
    z-index: 1015;
    opacity: 1;
    animation: float 1s ease-out forwards;
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
    /* border: chartreuse; */
    border-style: dashed;
    border-color: black;
	margin-left: -5%;
	border-width: 0.1em;
}

.botoncv2{
    position: absolute;
    width: 46%;
    /* height: 60px; */
    /* bottom: 70px; */
    /* right: 40px; */
    /* background-color: #ffc800; */
    color: #FFF;
    border-radius: 50px;
    text-align: left;
    z-index: 1015;
    opacity: 1;
    animation: float 1s ease-out forwards;
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
    /* border: chartreuse; */
    border-style: dashed;
    border-color: black;
	margin-left: -5%;
	border-width: 0.1em;
	margin-top: 8em;
}

.my-float{
	margin-top:22px;
}

.star {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: white;
}

canvas{
 z-index : -999;
}

/*iconitos*/


.icon {
    margin-top: 31%;
}
.icon2 {
        font-size: 2em !important;
    margin-top: -31px;
    color: black;
    margin-left: 5.8em;
    margin-bottom: 0;
    display: block !important;
    opacity: 0.4;
    text-align: justify;
	}
	
.icon3 {
    color: black;
    opacity: 0.2;
    display: block !important;
    margin-bottom: 5%;
    margin-top: -4%;
    margin-left: 6%;
    font-size: 1.5em !important;
}	
	

.p2 {
        color: #000;
    font-weight: 00;
    font-size: 1em;
    margin-bottom: 0;
    font-family: 'Abril Fatface', cursive;
    margin-top: 5%;
    text-decoration: none;
    border: none;
    /* text-decoration-color: black; */
    margin-left: 3.8em;
    line-height: 1em;
    text-align: left;
}
.p3 {
     color: #000;
    font-weight: 00;
    font-size: 1.5em;
    margin-bottom: 0;
    font-family: 'Abril Fatface', cursive;
    text-decoration: none;
    border: none;
    /* text-decoration-color: black; */
    margin-left: 12.8em;
    /* line-height: 1em; */
    text-align: left;
    margin-top: 4%;
}
.h2 {
       color: #fff
	   ;
    font-weight: 00;
    font-size: 3em;
    margin-bottom: 0;
    font-family: 'Abril Fatface', cursive;
    margin-top: 5%;
    text-decoration: none;
    border: none;
    /* text-decoration-color: black; */
    /* margin-left: 3.8em; */
    line-height: 1em;
    text-align: left;
}



/* Set the animation, color, size and hide the text */
.introstop{
  opacity}

.intro {
    position: relative;
	margin: 0 auto;
	width: 12.25em;
    z-index: 10;
    animation: intro 6s ease-out 1s;
    animation-play-state: paused;
	-webkit-animation-play-state: paused;
	color: rgb(75, 213, 238);
    font-weight: 400;
    font-size: 300%;
    opacity: 0;
	margin-top: -9em;
	text-shadow: 0px 0px 4px #52dfff;
	font-family: sans-serif;
}

@keyframes intro {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes float {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
	90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
    }

/* Set the animation & hide the logo */
.logo {    
    position: relative;
    margin: -220px auto;
    z-index: 1;
    animation: logo 9s ease-out 9s;
	 animation-play-state: paused;
    opacity: 0;
    text-align: center;
    /* margin-bottom: 20em; */
    margin-top: -15em;
	display: block;
}

.logo svg {
    width: inherit;
}

/* Scale the logo down and maintain it centered */
@keyframes logo {
    0% {
        width: 18em;        
        transform: scale(2.75);
        opacity: 1;
    }
    50% {
        opacity: 1;
        width: 18em;      
    }
    100% {
        opacity: 0;
        transform: scale(0.1);
        width: 18em;
    }
}

p {
  color: #ffeb00;
}

/* Set the font, lean the board, position it */
#board {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  transform: perspective(300px) rotateX(25deg);
  transform-origin: 50% 100%;
  animation-play-state: paused;
  text-align: justify;
  position: absolute;
  margin-left: -9em;
  font-weight: bold;
  overflow: hidden;
  font-size: 350%;
  height: 50em;
  width: 18em;
  bottom: 0;
  left: 50%;
}

#board:after {    
  position: absolute;
  content: ' ';
  bottom: 60%;
  left: 0;
  right: 0;
  top: 0;
}

/* Set the scrolling animation and position it */
#content {
 
  animation: scroll 100s linear 16s;
  animation-play-state: paused;
  position: absolute;
  top: 100%;
}

#title, #subtitle {
  text-align: center;
}

@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}
@media (min-width:701px) and (max-width:1200px){
.intro{margin-top: -14em;
}

.botoncv{
    position: absolute;
    width: 60%;
    /* height: 60px; */
    /* bottom: 70px; */
    /* right: 40px; */
    /* background-color: #ffc800; */
	margin-left: -2%;
	background-color: #fff;
    
}

.botoncv2{
    position: absolute;
    width: 60%;
    /* height: 60px; */
    /* bottom: 70px; */
    /* right: 40px; */
    /* background-color: #ffc800; */
	margin-left: -2%;
	background-color: #fff;
    
}
}
@media screen and (max-width:700px){
html,
body {
  margin: 0;
  padding: 0;
}
html {
width: 100%;
height: 100vh;
}

body{
width: 100%;
height: 100vh;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: white;  
  
}
.intro{
margin-top: -56vh;
font-size: 1.3em;
}

#board{
font-size: 140%;
}

.p3 {
   font-size: 0.65em;
   margin-left: 4.8em;
   }
   
 .botoncv{
    position: absolute;
    width: 60%;
    /* height: 60px; */
    /* bottom: 70px; */
    /* right: 40px; */
    /* background-color: #ffc800; */
	margin-left: -2%;
    
}
.botoncv2{
    position: absolute;
    width: 60%;
    /* height: 60px; */
    /* bottom: 70px; */
    /* right: 40px; */
    /* background-color: #ffc800; */
	margin-top: 5em;
	margin-left: -2%;
    
}


.icon3 {
    color: black;
    opacity: 0.2;
    margin-left: 9%;
    margin-bottom: 4%;
    margin-top: -9%;
    display: block !important;
}   


}