.center {
  height: 60%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.property-card {
  border: gainsboro;
  border-style: solid;
  border-width: 1px;
  height: auto;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: 3px 3px 3px #e1e1e3, 3px -15px 27px #ffffff;
  box-shadow: 3px 3px 3px #e1e1e3, -15px -15px 27px #ffffff;
  margin-bottom: 3em;
  margin: 1em;
  max-width: 60%;
  min-height: 150px;
  align-items: center;
    justify-content: space-around;
  cursor: pointer;
 }

 .property-card:hover .btnboot {
  padding: 1em;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px; 
  border-bottom: none;
  border-top: none;
  border-right: none;
background-color: #e1e1e3;

 }

  .property-card2 {
    border: none;
    height: auto;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 16px;
    overflow: hidden;
    -webkit-box-shadow: 3px 3px 3px #e1e1e3, 3px -15px 27px #ffffff;
    box-shadow: 3px 3px 3px #e1e1e3, -15px -15px 27px #ffffff;
    margin-bottom: 3em;
    margin: 1em;
    max-width: 460px; }

/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */
/* Top Half of card, image. */
.property-image {
  height: 18%;
  width: 100%;
  position: Absolute;
  top: 0px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url("product-pdca.png");
  background-size: cover;
  background-repeat: no-repeat;
background-position-y: -104px; }

.imagen {
  height: 280%;
  width: 30%;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url("product-pdca.png");
  background-size: cover;
  background-repeat: no-repeat;
background-position-y: -104px;
margin-left: -12px !important; }

.imagen2 {
  height: 280%;
  width: 30%;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url("product-pdca.png");
  background-size: cover;
  background-repeat: no-repeat;
background-position-y: -40px;
margin-left: -12px !important; }

/* Bottom Card Section */
.property-description {
  height: 20%;
  width: 80%;
  
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  
  text-align: left;
  ; }

/* Social Icons */
.property-social-icons {
  width: 1em;
  height: 1em;
  background-color: black;
  position: relative;
  bottom: 250%;
  left: 1em;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); }

/* Property Cards Hover States */
.property-card:hover {
  -webkit-box-shadow: 3px 3px 3px #999, 3px -15px 27px #ffffff;
    box-shadow: 3px 3px 3px #999, -15px -15px 27px #ffffff;
  height: -1em;}


  .property-card2:hover {
    -webkit-box-shadow: 3px 3px 3px #666, 3px -15px 27px #ffffff;
    box-shadow: 3px 3px 3px #666, -15px -15px 27px #ffffff; 
    height: -1em;}

  .property-card2:hover #tier, .property-card2:hover #tier2 {
    color: #444;
        }    
   
.property-card:hover #tier, .property-card:hover #tier2 {
          color: #444;
              }         


.property-card:hover .property-social-icons {
  background-color: white; }

.property-card:hover .property-social-icons:hover {
  background-color: blue;
  cursor: pointer; }

property-image-title {
  text-align: center;
  position: Relative;
  top: 3%;
  opacity: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
  color: black;
  font-size: 1.2em; }

.property-card:hover .property-image-title {
  opacity: 1; }

.marginh5 {
  margin-bottom: 1em;
  height: auto; 
  color: #999;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  text-align: left;
  margin-left: 1em;
 }

.marginp {
  height: auto;
  margin-left: 1em;
  font-size: 0.8em !important;
  text-align: left;
  color: #999;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); }

.contentsp {
  font-size: 0.9em !important; }

.textcenter {
  text-align: center; }

.btnboot {
  background-color: white;
  padding: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-color: #999;
  border-style: solid;
  border-width: 1px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor:pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: none;
border-top: none;
border-right: none;
margin-right: 1em; }

.btnboot:hover {
  padding: 1em;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px; 
  border-bottom: none;
  border-top: none;
  border-right: none;
background-color: #e1e1e3;}

.widthcorrection {
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em; }

  .content-contact input{
    min-width: 0 !important;
  }

.costcolor {
  margin-top: 2em;
  color: #444; }

.bulletsize {
  font-size: 0.6em; }

.testimonial-quote {
  font-size: 1.3em !important;
  text-align: start !important; }

#testimonial-pallav.content-product {
  margin-top: -8em !important;
  margin-bottom: 3em; }

#contents.content-product {
  margin-top: -2em !important;
  margin-bottom: 1em; }

.unitcolor {
  color: #fbb040 !important; }

.paddingpre {
  padding-top: 2em; }

#fecha {
  padding-bottom: 1em; }

.spacer3{
  padding-bottom: 1em;
}
.parrafocard {
  margin-right: 2em;
  margin-left:2em;
  min-width: 60%;
  }

@media all and (max-width: 800px) {
  .center {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; 
      width: 100%;}

      .spacer3{
        padding-bottom: 1em;
        padding-top: 1em;
      }   

      .property-card {
      max-width: 100%;
      }

      .parrafocard {
        margin-right: 2em;
        min-width: 30%;
        margin-bottom: 1em;
        margin-top: 1em;
        }

      .imagen{
        height: 258%;
        width: 100%;
        -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        background-image: url(product-pdca.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: -104px;
      }

      .imagen2{
        height: 258%;
        width: 100%;
        -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        background-image: url(product-pdca.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: -40px;
      }

      .btnboot{
        margin-right:1em;
      }

      .marginh5{
        font-size: 0.9em;
      }

      .marginp{
        font-size: 0.8em !important;
      }

 }
